<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs MEN Stack Crud App</title>
</head>
<body>
    <h1>Welcome to the Dogs app!</h1>
    <p>An app for collecting dogs online.</p>
    <a href="/dogs">Browse Dogs</a>
    <a href="/dogs/new">Enter a dog</a>
</body>
</html>
