<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs!</title>
</head>
<body>
    <h1>Welcome to the Dogs app!</h1>
    <p> Use this app to collect and share pup pics and personalities!</p>
    <a href ="dogs/"> Browse Dogs </a>

</body>
</html>
