<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Dog Entry</title>
</head>
<body>
<h1>Add a dog here!</h1>
    <form action="/dogs" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <br><br>
        <label for="breed">Breed</label>
        <input type="text" name="breed" id="breed" required>
        <label for="rescueDog">Is a Rescue ?</label>
        <input type="checkbox" name="rescueDog" id="rescueDog">
        <br><br>
        <label for="pupsonality">Pupsonality:</label>
        <textarea name="pupsonality" id="pupsonality"></textarea>
        <br><br>
        <button type="submit">Add Pup to Palooza</button>
    </form>
    <a href="/">Return to home</a>
</body>
</html>
